.vol {
  background-image: var(--third-gradient);
}

.vol__container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
}

.vol__titiles,
.vol__description {
  padding-inline: 30px;
}

.vol__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.vol__name {
  font-size: var(--largest-font-size);
}

.vol__number {
  color: var(--title-color);
  font-weight: 700;
}

.vol__number span {
  color: var(--primary-color);
}

.vol__description {
  margin-bottom: 0px;
}

.vol__bar,
.vol__percentage {
  height: 2px;
}

.vol__bar {
  background-color: rgba(255, 255, 255, 0.2);
}

.vol__percentage {
  display: block;
  background-color: var(--primary-color);
  position: relative;
}

.vol__percentage span {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -12px;
}

.light-theme .vol__bar {
  background-color: rgba(0, 0, 0, 0.1);
}

.light-theme .vol__percentage {
  background: var(--border-color);
}

.light-theme .vol__percentage span {
  background-color: var(--primary-color);
}
